{%extends 'addis/base.html' %}
{%load static%}
{%block title%}
Home
{%endblock%}
{%block content%}
    <h1 style="color:lime; font-size:50px;">Welcome</h1>
    <p>
    We are <strong>Addis</strong> pro cleaning service providers willing to provide you the best cleaning satisfaction ever!
    <h2>Our services:</h2>
    <ul>
    <li>House cleaning</li>
    <li>Cleaning buildings</li>
    <li>Cleaning home tools</li>
    <li>and others</li>
    </ul>
    Our cleaning services are wide range all over across the country trusted by all our cutomers offering a life time quality cleaning.
    <h2>Some of our happy customers</h2>
    <ul>
    <li>Cbe</li>
    <li>Awash bank</li>
    <li>zemen bank</li>
    <li>coop</li>
    </ul>
    Ranked by google to <strong>5 stars</strong></p>
    <video style="margin:50px 50px 100px 50px;
padding:2.5px 2.5px 2.5px 2.5px;
border:solid;
border-color:lime;
width:100%;
height:20%;" src="{%static 'Video1.mp4' %}" controls>video</video>
{%endblock%}