{%extends "addis/base.html" %}
{%load static%}
{%block title%}
Contact
{%endblock%}
{%block content%}
<p>Our company is the best of all promising the best cleaning teams that are <strong>rare</strong> , <strong>caring</strong> ,<strong>property handler</strong>.</br>You can see all our teams in different stages to serve you with the best ,fast and always available services.</br>
our team photos and videos while the are working :
</p>
<div class="col-md-4">
        <div class="card mb-2">
        <img class="card-img-top" src="{%static 'TeamP1.jpg' %}">
        <div class="card-body">
                <h5 class="card-title">Team 1</h5>
                <p class="card-text">5 stars</p>
            </div>
            </div>
            </div>
            <img class="card-img-top" src="{%static 'TeamP2.jpg' %}">
        <div class="card-body">
                <h5 class="card-title">Team 2</h5>
                <p class="card-text">5 stars</p>
            </div>
            </div>
            </div>
{%endblock%}
