{%extends "addis/base.html" %}
{%block title%}Contact{%endblock%}
{%block content%}
<p>We Addis pro cleaning services are the best cleaning service providers in Ethiopia and by using this website:<ul>
<li> you can find a near by branch in your place</li>
<li>Know waht we offer as a cleaning service </li>
<li>acknowledge our rate across the web</li>
<li>order any cleaning work if you want like:
<ul> <li>full house cleaning</li>
<li>home tools cleaning (e.g chairs,tables etc)</li>
<li>and any building </li>
</ul></li>
</ul>
we will clean it from its feet to its top
you can know our many customers rating and satsifaction and even you can rate us our team are always ready to help you in a realiable cost we can go when ever you are to help you or you can ce to us if you want</p>
{%endblock%}
